.container{
    width: 950px;
    text-align: center;
    /* background: red; */
    height: 100px;
    margin: 0 auto;
}

img {
    margin-right: 5px;
}

.style{
    height: 150px;
    width: 150px;
    color:grey;
    padding:26px;
    margin: 13px;
    border :solid 1px pink;
}
